.grid-container {

	max-width: 730px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 370px;
	grid-template-areas:
		"box-1 box-2"
		"box-3 box-4"
}

/*small devices tablets */

@media only screen and (max-width: 760px) {


	.grid-container {

		max-width: 450px;
		grid: 1fr/ 1fr;
		grid-template-areas:
			"box-1"
			"box-2"
			"box-3"
			"box-4"
	}
}

@media only screen and (max-width: 280px) {

	.box img {

		max-width: 250px;
	}


}
