body {
	
	
	margin: 0;
	padding:0;
	font-family: Verdana, Geneva, sans-serif;
}

.wrapper {
	margin-top: 30px;
}

.grid-container {
	
	display: grid;
	max-width: 800px;
	min-width: 700px;
	margin: 0 auto;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 80px 155px;
	grid-gap: 20px;
	grid-template-areas: 
		"box-1 box-2 box-3"
		"box-1 box-4 box-4"
	
}

.grid-container div:nth-child(1) {
	
	grid-area: box-1;
}
.grid-container div:nth-child(2) {
	
	grid-area: box-2;
}
.grid-container div:nth-child(3) {
	
	grid-area: box-3;
}
.grid-container div:nth-child(4) {
	
	grid-area: box-4;
}

.box {
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	
/*	(для того чтобы можно было управлять его эл/ тоесть тем что в этом боксе!!!)*/
}
.box h3 {
	position: absolute;
	
	(занял крайний левый угол родителей)
}

.box img {
	width: 100%;
}